body {
	font-family: 'Courier New', Courier, monospace;
	color: #FFFFf0;
	background-color: #000000de;
	text-align: justify;
	margin: 20%;
}

img {
	padding: 10px;
}

hr {
	color: #FFFFf0;
}

.container {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.fullbleed {
  width: 140%;
  display: block;
  margin-left: calc((100% - 140%) / 2);
  margin-right: calc((100% - 140%) / 2);
  max-width: 140%;
}

a:active{
	color: orange;
}
a:link{
	color: yellow;
}

a:visited{
	color:salmon
}